.searchHeader {
    background-color: rgb(0, 152, 46,);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 8px;
}

.inputWrapper {
    position: relative;
}

.searchInput {
    display: block;
    border-radius: 8px;
    width: 200px;
    height: 24px;
    padding-left: 10px;
    font-size: 10px;
}

.searchButton {
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 12px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}